--no-binary=opencc

torch
torchaudio
numpy<2.0
fast_langdetect
split_lang
transformers>=4.43,<=4.50
pytorch-lightning>=2.4
cn2an
pypinyin
jieba_fast
onnxruntime
opencc
soundfile
einops
pyinstaller
websockets
g2p_en
wordsegment
uvicorn
fastapi